@font-face {
        font-family: 'camcorderregular_ol1';
        src: url('./style/fonts/camcorder_ol1-webfont.eot');
        src: url('./style/fonts/camcorder_ol1-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ol1-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ol1-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ol1-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorderregular_reg';
        src: url('./style/fonts/camcorder_reg-webfont.eot');
        src: url('./style/fonts/camcorder_reg-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_reg-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_reg-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_reg-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

/**
 * We don't use these
@font-face {
        font-family: 'camcorderregular_inv';
        src: url('./style/fonts/camcorder_inv-webfont.eot');
        src: url('./style/fonts/camcorder_inv-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_inv-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_inv-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_inv-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorderregular_ol2';
        src: url('./style/fonts/camcorder_ol2-webfont.eot');
        src: url('./style/fonts/camcorder_ol2-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ol2-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ol2-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ol2-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_inv';
        src: url('./style/fonts/camcorder_ms_inv-webfont.eot');
        src: url('./style/fonts/camcorder_ms_inv-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_inv-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_inv-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_inv-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_ol1';
        src: url('./style/fonts/camcorder_ms_ol1-webfont.eot');
        src: url('./style/fonts/camcorder_ms_ol1-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_ol1-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_ol1-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_ol1-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'camcorder_monospacedregular_ol2';
        src: url('./style/fonts/camcorder_ms_ol2-webfont.eot');
        src: url('./style/fonts/camcorder_ms_ol2-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_ol2-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_ol2-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_ol2-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_reg';
        src: url('./style/fonts/camcorder_ms_reg-webfont.eot');
        src: url('./style/fonts/camcorder_ms_reg-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_reg-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_reg-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_reg-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;

}*/