@font-face {
  font-family: 'camcorderregular_ol1';
  src: url("./style/fonts/camcorder_ol1-webfont.eot");
  src: url("./style/fonts/camcorder_ol1-webfont.eot?#iefix") format("embedded-opentype"), url("./style/fonts/camcorder_ol1-webfont.woff") format("woff"), url("./style/fonts/camcorder_ol1-webfont.ttf") format("truetype"), url("./style/fonts/camcorder_ol1-webfont.svg#camcorderregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'camcorderregular_reg';
  src: url("./style/fonts/camcorder_reg-webfont.eot");
  src: url("./style/fonts/camcorder_reg-webfont.eot?#iefix") format("embedded-opentype"), url("./style/fonts/camcorder_reg-webfont.woff") format("woff"), url("./style/fonts/camcorder_reg-webfont.ttf") format("truetype"), url("./style/fonts/camcorder_reg-webfont.svg#camcorderregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**
 * We don't use these
@font-face {
        font-family: 'camcorderregular_inv';
        src: url('./style/fonts/camcorder_inv-webfont.eot');
        src: url('./style/fonts/camcorder_inv-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_inv-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_inv-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_inv-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorderregular_ol2';
        src: url('./style/fonts/camcorder_ol2-webfont.eot');
        src: url('./style/fonts/camcorder_ol2-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ol2-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ol2-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ol2-webfont.svg#camcorderregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_inv';
        src: url('./style/fonts/camcorder_ms_inv-webfont.eot');
        src: url('./style/fonts/camcorder_ms_inv-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_inv-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_inv-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_inv-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_ol1';
        src: url('./style/fonts/camcorder_ms_ol1-webfont.eot');
        src: url('./style/fonts/camcorder_ms_ol1-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_ol1-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_ol1-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_ol1-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'camcorder_monospacedregular_ol2';
        src: url('./style/fonts/camcorder_ms_ol2-webfont.eot');
        src: url('./style/fonts/camcorder_ms_ol2-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_ol2-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_ol2-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_ol2-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'camcorder_monospacedregular_reg';
        src: url('./style/fonts/camcorder_ms_reg-webfont.eot');
        src: url('./style/fonts/camcorder_ms_reg-webfont.eot?#iefix') format('embedded-opentype'),
                url('./style/fonts/camcorder_ms_reg-webfont.woff') format('woff'),
                url('./style/fonts/camcorder_ms_reg-webfont.ttf') format('truetype'),
                url('./style/fonts/camcorder_ms_reg-webfont.svg#camcorder_monospacedregular') format('svg');
        font-weight: normal;
        font-style: normal;

}*/
/*********************
COLORS
*********************/
.social {
  line-height: 22px; }
  .social__like, .social__follow {
    display: inline;
    height: 22px !important;
    width: 60px; }

/*********************
GENERAL STYLES
*********************/
* {
  box-sizing: border-box; }

body {
  font-family: 'camcorderregular_reg', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #fff; }

.video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

object, #player {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  object body, #player body {
    margin: 0; }

main {
  background: url(./img/test-pattern.png) no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  float: right;
  display: block;
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  bottom: 0; }

sidebar {
  padding: 35px 0 50px 0;
  width: 200px;
  height: 100%;
  float: left;
  position: fixed;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 3;
  text-align: center;
  overflow-y: scroll; }

.sidebar__visible sidebar {
  display: block; }

.sidebar__hidden sidebar {
  display: none; }

.sidebar__visible main {
  left: 200px; }

.sidebar__hidden main {
  left: 0; }

.sidebar__close {
  position: absolute;
  top: 15px;
  right: 5px; }

.sidebar__open {
  position: absolute;
  top: 15px;
  left: 5px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.25); }
  .sidebar__open:hover {
    color: #0f0; }

.video__tags {
  padding: 20px 0; }

a.tag, a.tag:visited {
  display: inline-block;
  background: #0f0;
  color: #000;
  padding: 4px;
  border-radius: 3px;
  margin: 0 6px 6px 0;
  font-size: 11px;
  white-space: nowrap; }
  a.tag:hover, a.tag:visited:hover {
    color: #fff; }

p {
  margin: 0;
  letter-spacing: 2px; }

img {
  clear: both; }

#share {
  font-size: 10px; }
  #share a, #share a:visited {
    color: #fff; }
    #share a:hover, #share a:visited:hover {
      text-decoration: underline; }

.like {
  width: 50px; }

.colophon {
  font-size: 13px; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 90%;
  margin: 0 auto; }

/*********************
HEADER SYTLES
*********************/
/*********************
SIDEBARS & ASIDES
*********************/
/*********************
FOOTER STYLES
*********************/
footer {
  clear: both; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  cursor: pointer;
  cursor: hand;
  color: #33ff33;
  text-decoration: none; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #0f0;
    text-decoration: none; }

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 500; }

h1 {
  font-size: 2.5em;
  font-family: 'camcorderregular_ol1', Georgia, serif;
  line-height: 1.333em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999; }
  h1 a, h1 a:visited {
    font-family: 'camcorderregular_ol1';
    text-shadow: 0 0 1px black; }

h2 {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  background: #0f0;
  padding: 5px; }
  h2 a, h2 a:visited {
    color: #000; }
    h2 a:hover, h2 a:visited:hover {
      color: #000; }

h3, .h3 {
  font-size: 1.125em; }

h4, .h4 {
  font-size: 1.1em;
  font-weight: 700; }

h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px; }
